# Ignore Python Virtual Environment
.venv

# Ignore credentials file
archcreds.json

# Ignore any iso files or iso signature files
*.iso*

# Ignore archinstall folder which is the unzipped 3.0.2 repository
archinstall/
